<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582383892976-lih7m701v2n0s7cnb7a4dmmorijo0tb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582383892976-lih7m701v2n0s7cnb7a4dmmorijo0tb9</string>
	<key>API_KEY</key>
	<string>AIzaSyBj6dwqUbibKYEZGfdkQREFJV6uq87_HRs</string>
	<key>GCM_SENDER_ID</key>
	<string>582383892976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ke.co.e-skuli.mypersonalnotes</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-personal-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-personal-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582383892976:ios:0c40b211d82a8f94a14535</string>
</dict>
</plist>